<%- include('../partials/html-head') %>
<% if (user.profile.equals(profile._id)) { %>
  <style>
    #profile-dropdown {
      display: none;
    }
  </style>
<% } %>
<%- include('../partials/nav') %>

<main>
  <section class="bg-dark text-secondary px-4 py-5 text-center">
      <img
        src="<%= profile.avatar %>"
      >
    <h1 class="display-5 fw-bold text-white pt-2"><%= profile.name %></h1>
    <div class="container py-4">
      <table class="table table-dark table-striped align-middle">
        <tbody>
          <% if (user.profile.equals(profile._id)) { %>
            <tr>
              <td>Google Email:</td>
              <td><%= user.email %></td>
            </tr>
          <% } %>
          <tr>
            <td>Name:</td>
            <td><%= profile.name %></td>
          </tr>
          <tr>
            <td>Avatar URL:</td>
            <td>
              <a href="<%= profile.avatar %>">
                <%= profile.avatar.substring(0, 35) %>
                <% if (profile.avatar.length > 35) { %>
                ...
                <% } %>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if (user.profile.equals(profile._id)) { %>
      <%# This is where we'll add the UI to edit a profile %> 
      <a 
        class="btn btn-warning"
        role="button" 
        href=""
      >
        Edit Profile
      </a>
      <a 
        class="btn btn-danger ms-4"
        role="button" 
        href="/auth/logout"
      >
        Logout
      </a>
    <% } %>
    <%# This is where we'll add a button to 'console/username or edit console/username' a user %> 
    
  </section>
  <section class="bg-light pt-3">
    <div class="container">
      <h2 class="mb-3"><%= profile.name %>'s Console/Usernames:</h2>
      <div
        class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g1 px-1"
      >
      <%# This is where we'll display our console/usernames %> 
      </div>
      <h2 class="mb-3"><%= profile.name %>'s Dubs:</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g5 px-1">
        <%# This is where we'll loop over our Dubs! %> 
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>