<%- include('../partials/html-head') %>
<link rel="stylesheet" href='/stylesheets/wins/input.css'>
<%- include('../partials/nav') %>

<section class="inputForForm">
    <form class="allDataInput" action="/wins/<%= win._id %>?_method=PUT" method="POST">
        <h1>Edit the Dub</h1>
        <div class="screenData">
            <p>Kills:</p>
            <input type="number" name="kills" value="<%= win.kills %>">
            <p>Assists:</p>
            <input type="number" name="assists" value="<%= win.assists %>">
            <p>Revives:</p>
            <input type="number" name="revives" value="<%= win.revives %>">
            <p>Accuracy:(%)</p>
            <input type="number" name="accuracy" value="<%= win.accuracy %>">
            <p>Damage To Players:</p>
            <input type="number" name="damageToPlayers" value="<%= win.damageToPlayers %>">
            <p>Head Shots:</p>
            <input type="number" name="headShots" value="<%= win.headShots %>">
            <p>Distance Traveled:(km)</p>
            <input type="number" name="distanceTraveled" value="<%= win.distanceTraveled %>">
            <p>Damage Taken:</p>
            <input type="number" name="damageTaken" value="<%= win.damageTaken %>">
        </div>
        <div class="notShownData">
            <p>Win Streak:</p>
            <input type="number" name="winStreak" value="<%= win.winStreak %>">
            <p>Number Of Squad Mates:</p>
            <input type="number" name="numOfSquadMates" value="<%= win.numOfSquadMates %>">
            <p>Squad Mates:</p>
            <input id="SM" type="string" name="usersInSquad" value="<%= win.usersInSquad %>">
            <p>Number Of Squad Kills:</p>
            <input type="number" name="squadKills" value="<%= win.usersInSquad %>">
            <button class="btn btn-primary" type="submit">Add Dub</button>
        </form>
</section>

<%- include('../partials/footer') %>