<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href='/stylesheets/wins/index.css'>
<%- include('../partials/nav') %>


<main>
    <h1><%= title %> </h1>
    <section class=" pt-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g5 px-1">
                <% wins.forEach(win => { %> 
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= win.owner.name %>'s Dub</h5>
                            <p class="card-text">
                                Kills:<%= win.kills %></p>
                            <p class="card-text">
                                Assists:<%= win.assists %></p>
                            <p class="card-text">
                                Revives:<%= win.revives %></p>
                            <p class="card-text">
                                Accuracy:<%= win.accuracy %>%</p>
                            <p class="card-text">
                                Damage To Players:<%= win.damageToPlayers %></p>
                            <p class="card-text">
                                Head Shots:<%= win.headShots %></p>
                            <p class="card-text">
                                Distance Traveled:<%= win.distanceTraveled %>(km)</p>
                            <p class="card-text">
                                Damage Taken:<%= win.damageTaken %></p>
                            <p class="card-text">
                                Win Streak:<%= win.winStreak %></p>
                            <p class="card-text">
                                Number Of Squad Mates:<%= win.numOfSquadMates %></p>
                            <p class="card-text">
                                users In Squad:<%= win.usersInSquad %></p>
                            <p class="card-text">
                                Squad Kills:<%= win.squadKills %></p>
                            <% if (user) { %>
                            <a href="/wins/<%= win._id %>" class="btn btn-primary">Details / Add Comment</a>
                            <% } %>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </section>
</main>
<%- include('../partials/footer') %>