<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<section>
	<h1><%= win.owner.name %>'s Dub</h1>
    <h2><%= win.name %></h2>
	<h3>Crowned Victroy:<%= win.crownedVictroy %></h3>
    <h3>Kills:<%= win.kills %></h3>
    <h3>Assists:<%= win.assists %></h3>
    <h3>Revives:<%= win.revives %></h3>
    <h3>Accuracy:<%= win.accuracy %>%</h3>
    <h3>Damage To Players:<%= win.damageToPlayers %></h3>
    <h3>Head Shots:<%= win.headShots %></h3>
    <h3>Distance Traveled:<%= win.distanceTraveled %></h3>
    <h3>Damage Taken:<%= win.damageTaken %></h3>
    <h3>Win Streak:<%= win.winStreak %></h3>
    <h3>Number Of Squad Mates:<%= win.numOfSquadMates %></h3>
    <h3>users In Squad:<%= win.usersInSquad %></h3>
    <h3>Squad Kills:<%= win.squadKills %></h3>
</section>
<div>
    <% if (win.owner.equals(user?.profile._id)) { %>
        <a href="/wins/<%= win._id %>/edit" class="btn btn-primary">Edit Dub!</a>
            <form action="/wins/<%= win._id %>?_method=DELETE" method="POST">
                <button class="btn btn-primary" type="submit" href="/wins/index">Delete this Dub?!?!?!</button>
        </form>
    <% } %>
</div>
<div>
    <% if (user) { %>
        <form action="/comments/<%= win._id %>" method="POST">
        <div class="mb-3 mt-4">
            <label 
                for="exampleFormControlTextarea1" 
                class="form-label text-light"
            >
                Leave a comment:
            </label>
            <textarea 
                name="content" 
                class="form-control" 
                id="exampleFormControlTextarea1" 
                rows="3"
            ></textarea>
            <select 
                name="rating" 
                class="form-select" 
            >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>        
        </div>
            <button class="btn btn-warning"type="submit">Add comment</button>
        </form> 
    <% } %>
</div>

<div>
    <% if (user) { %>
        <h2 class="text-light my-3">Comments:</h2>
        <div 
            class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g1 px-4"
        >
        <% win.comments.forEach(comment => { %>
            <div class="col">
                <div class="card mb-3 bg-secondary">
                    <div class="row g-0">
                        <div class="col-3">
                            <img 
                                src="<%= comment.author.avatar %>" 
                                class="img-fluid rounded-circle ms-2 mt-2" 
                                alt="<%= comment.author.name %>'s avatar"
                            >
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h3 class="card-title text-dark">
                                    <a 
                                        class="text-dark text-decoration-none" 
                                        href="/profiles/<%= comment.author._id %>"
                                    >
                                        <%= comment.author.name %>
                                    </a>
                                </h3>
                                <p class="card-text text-dark">
                                    <%= "🌟".repeat(comment.rating) %>
                                </p>
                                <p class="card-text text-dark"><%= comment.content %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
    <% } %>
</div>  
<div>
    <% if (win.owner.equals(user?.profile._id)) { %>
        <a href="/wins/index" class="btn btn-primary">To All Dubs</a>
        <a href="/comments/new" class="btn btn-primary">ADD ANOTHER DUB</a>
    <% } else { %>
        <a href="/comments/new" class="btn btn-primary">ADD Your own DUB</a>
        <a href="/wins/index" class="btn btn-primary">To All Dubs</a>
    <% } %>
</div>


<%- include('../partials/footer') %>